<div id="finisher-header-light" class="finisher-header" *ngIf="theme == 'light'" style="width: 110%; height: 110%;">
</div>
<div id="finisher-header-dark" class="finisher-header" *ngIf="theme == 'dark'" style="width: 110%; height: 110%;">
</div>
<div class="background-overlay"></div>

<!-- Header with notification ring -->
<div class="notification-container">
  <app-notification-ring (openSidebar)="openNotificationSidebar()"
    (menuSidebar)="openHistorySidebar()"></app-notification-ring>
</div>

<!-- Notification Sidebar -->
<app-notification-sidebar [isOpen]="isSidebarOpen" (close)="closeNotificationSidebar()"></app-notification-sidebar>
<app-notification-sidebar [isOpenMenu]="isSideMenuOpen" (close)="closeHistorySidebar()"></app-notification-sidebar>


<router-outlet></router-outlet>
<div class="theme-transition-overlay" #transitionOverlay></div>
<app-footer></app-footer>
<ngx-loading [show]="loading"
  [config]="{ backdropBorderRadius: '3px',backdropBackgroundColour: 'rgba(0, 0, 0, 0.95)', primaryColour:'#A63446', secondaryColour: '#F18193', tertiaryColour:'#A63446' }"></ngx-loading>
<div [ngClass]="theme">
  <button [ngClass]="theme == 'light' ? 'dark' : 'light' " (click)="toggleTheme()">
    <i class="fa-solid" [ngClass]="theme == 'light' ? 'fa-moon' : 'fa-sun' "></i>
  </button>
</div>
<div class="cursor-dot"></div>